* {
    box-sizing: border-box;
}

:root {

    --primary: #FFB900;
    --font-heading: Sen, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}



/* Common */
a{
    text-decoration: none;
}

.content {
    width: 1170px;
    max-width: calc(100%-48px);
    margin-left: auto;
    margin-right: auto;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.desc{
    color: #5F5B53;
    font-weight: 400;
}

.btn {
    color: #FFF;
    text-align: center;
    font-weight: 600;
}

.btn.black {
    background-color: #171100;
    border-radius: 25px;
}

.btn.yellow {
    background-color: var(--primary)
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display:  -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}




/* Header */
.header {
    background: #FFFCF4;
    padding: 8px 0;
}

.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    margin-top: 28px;
}

.header .body .logo {
    width: 85px;
    height: 34px;
}

.header .body .nav {
    margin-left: auto;
}

.header .body .nav ul{
    display: flex;
}

.header .body .nav a {
    position: relative;
    padding: 8px 21px;
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .body .nav a:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.header .body .action .black {
    min-width: 144px;
    padding: 11px 41px;
    margin-left: 49px;
    font-size: 1.6rem;
    line-height: 1.75;
}



/* Hero */
.hero {
    padding: 56px 0 65px;
    background-color: #FFFCF4;
}

.hero .body {
    display: flex;
}


/* Hero left */
.hero .media-block {
    position: relative;
    width: 48.7%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero .media-block .hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .media-block .hero-summary .item {
    display: flex;
    align-items: center;
}

.hero .media-block .hero-summary .item + .item {
    margin-top: 22px;
}

.hero .media-block .hero-summary .item .icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.hero .media-block .hero-summary .item .icon-list {
    background-color:  #FFF9E8;
}

.hero .media-block .hero-summary .item .icon-code {
    background-color:  #FCEFFF;
}

.hero .media-block .hero-summary .item .icon-megaphone {
    background-color:  #EBEAFF;
}

.hero .media-block .hero-summary .item .info {
    margin-left: 16px;
}

.hero .media-block .hero-summary .item .info .label {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86
}

.hero .media-block .hero-summary .item .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67
}


/* Hero right */
.hero .content-block {
    width: 51.3%;
    padding: 64px 0 0 130px;
}

.hero .content-block .lv1 {
    font-size: 5.6rem;
}

.hero .content-block .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero .content-block .cta-group {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero .content-block .cta-group .yellow {
    min-width: 180px;
    border-radius: 32px;
    padding: 17px 33px 17px 34px;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero .content-block .cta-group .watch-video {
    padding: 0;
    display: flex;
    align-items: center;
    border: none;
    background: #FFFCF4;;
    margin-left: 28px;
    cursor: pointer;
}

.hero .content-block .cta-group .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .content-block .cta-group .watch-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67
}

.hero .content-block .more .desc:first-child{
    margin-top: 48px;
}

.hero .content-block .more .desc {
    margin-top: 8px;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero .content-block .more .desc strong {
    color: #171100;
    padding: 0 5px 0 28px;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
}

.hero .content-block .more .desc strong:first-child {
    padding-left: 0;
}



/* Popular */
.popular {
    padding-top: 65px;
    margin-top: 135px;
}


/* Popular top */
.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .info .desc {
    margin-top: 16px;
    width: 458px;
    color: #5F5B53;
    font-size: 1.8rem;
    line-height: 1.67;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary);
    color: var(--primary);
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.popular-top .control-btn:hover {
    background: var(--primary);
    color: #FFF;
}


/* Popular bottom */
.popular-bottom {
    margin-top: 55px;
    display: flex;
}

.popular-bottom .item {
    width: 370px;
    border-radius: 12px 12px 0px 0px;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular-bottom .item + .item{
    margin-left: 30px;
}


.popular-bottom .item .thumb {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px;
}

.popular-bottom .item .info {
    margin: 16px 22px 22px;
}

.popular-bottom .item .info .top-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular-bottom .item .info .top-info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    padding-right: 6px;
}


.popular-bottom .item .info .top-info .rating {
    display: flex;
    align-items: center;
}

.popular-bottom .item .info .top-info .rating .star {
    width: 18px;
    height: 18px;
    margin-left: 6px;
}

.popular-bottom .item .info .top-info .rating .value {
    color: var(--primary);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.popular-bottom .item .info .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86;
}

.popular-bottom .item .info .bottom-info {
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    align-items: center;
}

.popular-bottom .item .info .bottom-info .cost {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.popular-bottom .item .info .bottom-info .black {
    padding: 12px 24px;
    font-size: 1.4rem;
    line-height: 1.86;
    border: none;
}

.popular-bottom .item .info .bottom-info .btn:hover {
    background-color: var(--primary);
}



/* Feedback */
.feedback {
    background-color: #2E2100;
    margin-top: 135px;
    padding-top: 96px;
    padding-bottom: 96px;
}

.feedback .feedback-item {
    display: flex;
    justify-content: space-between;
}

.feedback .feedback-item .info {
    margin-right: 271px;
    width: 34.2%;
}

.feedback .feedback-item .info .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .feedback-item .info .title {
    margin-top: 18px;
    color: #F7F7F7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
}

.feedback .feedback-item .info .desc {
    margin-top: 4px;
    color: #BFBCB2;
    font-size: 1.4rem;
    line-height: 1.86;
}

.feedback .feedback-item .info .dots {
    display: flex;
    margin-top: 28px;
    cursor: pointer;
}

.feedback .feedback-item .info .dots .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #634700;
}

.feedback .feedback-item .info .dots .dot.active {
    background-color: #FFB900;
    cursor: default;
}

.feedback .feedback-item .comment {
    width: 65.8%;
}

.feedback .feedback-item .comment .open-quotes {
    width: 30px;
    height: 28px;
}

.feedback .feedback-item .comment blockquote {
    margin-left: 30px;
    color: #FFF;
    font-size: 2.3rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54
}


/* Features */
/* Features 1*/
.features-1 .body {
    display: flex;
    margin-top: 200px;
}

.features-1 .body .images {
    display: flex;
}

.features-1 .body .images img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
    margin-right: 30px;
}

.features-1 .body .images img:first-child {
    margin-top: 34px;
}

.features-1 .body .comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 100px;
}

.features-1 .body .comment .lv2 {
    font-size: 3.7rem;
}

.features-1 .body .comment .desc {
    font-size: 1.6rem;
    line-height: 1.75;
    margin-top: 16px;
}

.features-1 .body .comment .yellow {
    margin-top: 32px;
    padding: 11px 37px;
    font-size: 1.6rem;
    line-height: 1.75;
    border-radius: 26px;
}


/* Features 2*/
.features-2 .body {
    margin-top: 200px;
    display: flex;
}

.features-2 .body .comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 130px;
}

.features-2 .body .comment .lv2 {
    font-size: 3.7rem;
}

.features-2 .body .comment .desc {
    font-size: 1.6rem;
    line-height: 1.75;
    margin-top: 16px;
}

.features-2 .body .comment .yellow {
    margin-top: 32px;
    padding: 12px 32px 10px 31px;
    font-size: 1.6rem;
    line-height: 1.75;
    border-radius: 26px;
}

.features-2 .body .images img {
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}


/* Blog */
.blog {
    margin-top: 200px;
    background-color: #FFFCF4;
    padding: 96px 0;
}
/* Blog Top */
.blog-top {
    text-align: center;
}

.blog-top .lv2 {
    letter-spacing: -0.76px;
}

.blog-top .desc {
    display: inline-block;
    width: 38.3%;
    padding-top: 16px;
    color: #696262;
    font-size: 1.6rem;
    line-height: 1.75
}
/* Blog Mid */
.blog-mid {
    display: flex;
    padding-top: 55px;
}

.blog-mid .item {
    width: 370px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog-mid .item + .item {
    margin-left: 30px;
}

.blog-mid .item .images {
    width: 370px;
    height: 250px;
    object-fit: cover;
}

.blog-mid .item .sub {
    padding: 20px 20px 28px;
}

.blog-mid .item .sub .date {
    position: relative;
    display: flex;
    padding-bottom: 12px;
    align-items: center;
}

.blog-mid .item .sub .date .dot {
    width: 6px;
    height: 6px;
    background-color: #FFB900;
    border-radius: 50%;
}

.blog-mid .item .sub .date .desc {
    padding-left: 4px;
    font-size: 1.4rem;
    line-height: 1.86;
}

.blog-mid .item .sub .date .desc::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
    left: 0;
    bottom: 0;
}

.blog-mid .item .sub .heading {
    color: #171100;
    font-family: Poppins;
    padding-top: 12px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    padding-bottom: 12px;
}

.blog-mid .item .sub .black {
    padding: 12px 21px;
    font-size: 1.4rem;
    line-height: 1.86;
}

.blog-mid .item .sub .btn:hover {
    background-color: var(--primary);
}
/* Blog Bottom */
.blog-bottom {
    text-align: center;
}

.blog-bottom .dots {
    display: flex;
    gap: 6px;
    justify-content: center;
}

.blog-bottom .dots .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #5F5B53;
    margin-top: 38px;
    cursor: pointer;
}

.blog-bottom .dots .dot.active {
    background-color: #FFB900;
    cursor: default;
}


/* Footer */
.footer {
    background-color: #2E2100;;
}



/* Row 1 */
.footer .row-1 {
    display: flex;
    padding-top: 96px;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554B;
}



/* Column 1 */
.footer .row-1 .column-1 .desc {
    padding:18px 0;
    color: #BFBCB2;
    width: 267px;
    font-size: 1.4rem;
    line-height: 1.86;
}

.footer .row-1 .column-1 .socials {
    display: flex;
    gap: 18px;
}



/* Column 2 */
.footer .row-1 .column-2 {
    padding-left: 140px;
}

.footer .row-1 .column-2 .title {
    position: relative;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
}

.footer .row-1 .column-2 .title::after {
    position: absolute;
    content: "";
    width: 130px;
    height: 1px;
    background-color: #59554B;;
    bottom: -14px;
    left: 0;
}

.footer .row-1 .column-2 .list {
    padding-top: 43px;
}

.footer .row-1 .column-2 .list a {
    padding-top: 12px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}



/* Column 3 */
.footer .row-1 .column-3 {
    padding-left: 140px;
}

.footer .row-1 .column-3 .title {
    position: relative;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
}

.footer .row-1 .column-3 .title::after {
    position: absolute;
    content: "";
    width: 130px;
    height: 1px;
    background-color: #59554B;;
    bottom: -14px;
    left: 0;
}

.footer .row-1 .column-3 .list {
    padding-top: 43px;
}

.footer .row-1 .column-3 .list a {
    padding-top: 12px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}



/* Column 4 */
.footer .row-1 .column-4 {
    padding-left: 140px;
}

.footer .row-1 .column-4 .title {
    position: relative;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
}

.footer .row-1 .column-4 .title::after {
    position: absolute;
    content: "";
    width: 130px;
    height: 1px;
    background-color: #59554B;;
    bottom: -14px;
    left: 0;
}

.footer .row-1 .column-4 .list {
    padding-top: 43px;
}

.footer .row-1 .column-4 .list a {
    padding-top: 12px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.footer .row-1 .column-4 .list a strong {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
}



/* Row 2 */
.footer .row-2 {
    text-align: center;
}

.footer .row-2 a {
    display: inline-block;
    padding-top: 28px;
    padding-bottom: 28px;
    color: #807D74;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}